hr {
  height: 2px;
  background-color: brown;
  border-color: brown;
}
h2 {
  font-size: 30px;
  color: blueviolet;
}
footer {
  text-align: center;
}

h1 {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
  text-align: center;
}
#first_paragraph {
  text-align: center;
  font-style: italic;
}
#main_paragraphs {
  font-weight: bold;
  margin-bottom: 0;
}
body {
  font-family: sans-serif;
  padding: 20px;
  background-color: bisque;
}
.About_me {
  border: 2px solid black;
}
