hr {
    height: 2px;
    background-color: brown;
    border-color: brown;
  }

  footer {
    text-align: center;
  }

  h1 {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
    text-align: center;
  }
  #first_paragraph{
    text-align: center;
  }